body {
    font-family: 'Ubuntu', sans-serif;
}

table, th, td, caption {
    border: 1px solid black;
    border-collapse: collapse;
}

caption, .tried {
    background-color: #7fb9c2;
    text-align: center;
    font-weight: bold;
}

caption {
    font-size: large;
    
}

th {
    background-color: #628ca6;
    color: white;
}

td {
    background-color: #e7f0ed;
    text-align: center;
}

.greenish {
    background-color: #e7ffed;
    text-align: center;
}
.confused {
    font-style: italic;
}

.tried {
    font-size: small;
}